
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inherit, Courier, monospace;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.logo-link:visited {
    color: inherit;
}
  

.header-top {
    background-color: rgb(56, 52, 52); 
    color: white; 
    text-align: center;
    font-size: 14px;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    height: 40px;
    z-index: 999; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 25px;
}

.header-main {
    background-color: rgb(26, 99, 70);
    height: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 380px; 
    padding-right: 380px;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 999; 
}

.title {
    display: flex;
}

.title-container {
    margin-left: 20px;
}

.shop-name {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}


.tagline {
    font-size: 1em;
    font-style: italic;
    margin-top: 5px;
}

.logo img {
    width: 80px;
    height: auto;
}

.header-bottom {
    background-color: rgb(56, 52, 52);
    color: white;
    text-align: center;
    font-size: 14px;
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 998; 
    height: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 25px;
}

.main-image {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1; 
    filter: brightness(0.3) blur(1.5px) contrast(.9); 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.img-text {
    top: 375px;
    position: relative;
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 2;
}

.text-content {
    top: 600px;
    position: relative;
    color: black;
    background-color: white;
    padding: 20px;
    z-index: 2;
    height: auto;
    padding-top: 50px;
    padding-left: 380px;
    padding-right: 800px;
    line-height: 1.6;
}

.about-us {
    display: flex;
    flex-direction: row;
}

h {
    font-size: 16px;
}

h1 {
    line-height: 1.2;
    font-size: 3.5em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2;
}

p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1em; 
    font-weight:100;
    color: #333; 
}

.button {
    background: linear-gradient(to top, #9c2121, #ff4a4a);
    height: 50px;
    width: 220px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    border:inset 2px solid;
    border-color: #d43232;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.button:hover {
    background: linear-gradient(to top, #8b1e1e, #e44242);;
    border-color: #bd2d2d;
}


/* ACTUAL BACKGROUND (image of cars) */
body {
    background-image: url("JoesWallpaper.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}
/* TRANSPARENT GREEN BOX */
.wrapper{
  width: 350px;
  margin:10% auto;
  max-width: 350px;
  padding: 120px;
  background-color: rgba(14, 64, 25, 0.9);
  box-shadow: 0px 4px 10px black; 
  border-radius: 20px;
}
/* STYLE FOR EMAIL INPUT FIELD AND GO BACK/SEND BUTTON */
form input, button{
    width:150px;
    height:30px;
    margin-bottom: 30px;
    border: none;
    padding-left: 5px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    border-radius: 8px;
    background-color: rgb(40, 39, 39);
    color: rgb(236, 235, 235);
    cursor: pointer;
}
/* COLOR STYLE FOR TEXT ON HEADING AND EMAIL */
.wrapper h1, h2 {
    color: white;
    text-align: center;
}
/* ADJUSTS THE HEIGHT AND POSITION OF FORGOT PASSWORD HEADING */
.wrapper h1 {
    margin-top: 0;
    position: absolute;
    top: 150px; 
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-size: 22px; 
}
/* ADJUSTS THE HEIGHT AND POSITION OF EMAIL HEADING */
.wrapper h2 {
    margin-bottom: 5px; 
    margin-top: 0;
    position: absolute;
    top: 180px; 
    left: 39%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-size: 22px; 
}
/* ADJUSTS THE BOX STYLE FOR EMAIL INPUT */
input[type="email"] {
    width: 100%;
    max-width: 500px;
    margin-top: -30px;  
    margin-bottom: 20px;
    background-color: white;
    color: black;
    display: block;   
}
/* ADDING SPACE ABOVE THE SUBMIT ("SEND") BUTTON */
button, 
input[type="submit"] {
    margin-top: 50px; 
}
button {
    margin-right: 45px; /* PUSHES "Go Back" AWAY FROM "Send" */
}
/* ADJUSTS THE "Check your email to reset password" TEXT */
.left-align {
    text-align: left;
    margin-left: 135px; 
}
/* STYLE FOR "New Password" and "Confirm New Password" TEXT */
label {
    display: block;  
    color: white;
    font-size: 20px;
    text-align: left; 
    margin-bottom: 5px; 
    width: 100%;
}
/* STYLE FOR "New Password" and "Confirm New Password" BOXES */
.input-field {
    width: 100%; 
    padding: 15px; 
    margin: 0px 0; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    font-size: 18px; 
    height: 5px; 
    box-sizing: border-box; 
}
/* SUCCESS PAGE (text below the top heading) */
h2.go-to-home {
    color: white;
    font-size: 20px;
    margin-top: 50px; 
    margin-left: 130px; 

}
/* SUCCESS PAGE (RETURN TO HOME PAGE BUTTON) */
.center-button {
    width: 50%; 
    padding: 5px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px; 
    text-align: center;
}
/*CONFIRMING TEST RESET PW BUTTON POSITION */
.button-container {
    display: flex;
    justify-content: center; 
    margin-right: -50px;
}
/*RETURN TO LOGIN AND TEST RESET PW BUTTON POSITION */
.button-containers {
    display: flex;
    justify-content: flex-end;  
    margin-right: -35px;
}

